{% extends "base.html" %}
{% load markup %}

{% block title %}New Wiki Page{% endblock %}

{% block content %}
	<div id="sidebar">
	</div>
	<div id="content">
		<h2>New Wiki Page</h2>
		<form method="post">
		{% csrf_token %}
			<table>
				<tr>
					<td>Title:</td>
					<td>
						{{ form.title }}
					</td>
				</tr>
				<tr>
					<td>Content:</td>
					<td>
						{{ form.content }}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" />
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}
