{% extends "base.html" %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="/static/wiki/style.css" media="all" />{% endblock %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
	<div id="content">
		<h2>{{ page }} History</h2>
		<table>
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Author</th>
				<th>Actions</th>
			</tr>
		{% for revision in revisions.object_list %}
			<tr>
				<td><a href="{{ revision.get_absolute_url }}">{{ revision.num }}</a></td>
				<td>{{ revision.create_date|date:"h:iA dS F Y" }}</td>
				<td><a href="{{ revision.author.get_absolute_url }}">{{ revision.author.profile.display_name }}</a></td>
				<td>
					<a href="{{ revision.get_absolute_url }}">[View]</a>
				{% if revision.previous_revision %}
					<a href="{{ revision.get_absolute_url }}changes/">[Changes]</a>
				{% endif %}
				{% if revision.num != page.current_revision.num %}
					<a href="{{ page.get_absolute_url }}diff/?since={{ revision.num }}">[Diff]</a>
			{% comment %}
				{% if request.user.is_authenticated %}
					<a href="{{ page.get_absolute_url }}revert/?to={{ revision.num }}">[Revert]</a>
				{% endif %}
			{% endcomment %}
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
