{% extends "base.html" %}
{% load markup %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
	<div id="sidebar">
		<h3><a href="/wiki/create/">Create Wiki Page</a></h3>
		<ul>
			<li><a href="/wiki/{{ page.slug }}/edit/">Edit Page</a></li>
			<li><a href="/wiki/{{ page.slug }}/history/">View History</a></li>
		</ul>
	{% if page_changed %}
		<p>This page has changed since you last viewed it</p>
	{% endif %}
	{% if first_view %}
		<p>This is the first time you have visited this page</p>
	{% endif %}
	</div>
	<div id="content">
		<h2>{{ page }}</h2>
		{{ revision.content|markdown:"safe" }}
		<p id="wiki_footer_info">Last Updated: {{ revision.create_date|date:"h:iA dS F Y" }}</p>
	</div>
{% endblock %}
