{% extends "base.html" %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="/static/wiki/style.css" media="all" />{% endblock %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
	<div id="sidebar">
		<div class="sidebarbox">
			<ul class="sidemenu">
				<li><a href="/wiki/create/">Create a Wiki Page</a></li>
				<hr />
				<li><a href="/wiki/{{ page.slug }}/edit/">Edit Page</a></li>
				<li><a href="/wiki/{{ page.slug }}/history/">View History</a></li>
			</ul>

		{% if page_changed or first_view %}
			<hr />
	
		{% if page_changed %}
			<p>This page has changed since you last viewed it</p>
		{% endif %}
	
		{% if first_view %}
			<p>This is the first time you have visited this page</p>
		{% endif %}
	
		{% endif %}
		</div>
	</div>
	<div id="content">
		<h2>{{ page }}</h2>
		{{ revision.content_html|safe }}
		<p id="wiki_footer_info">Last Updated: {{ revision.create_date|date:"h:iA dS F Y" }}</p>
	</div>
{% endblock %}
